extends ./layout

block title
    title Add a book

append links
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js")
    
    script(type="text/javascript").
        window.onload = function () {
            document.getElementById('book_fileUpload').addEventListener('change', handleBookImageSelect, false);
        }
        function handleBookImageSelect(evt) {
            var reader = new FileReader();
            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("book_image").src = e.target.result;
            };
            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        }

block content
    nav.navbar.navbar-inverse
        .container-fluid
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
                    span.icon-bar
                    |
                    span.icon-bar
                    |
                    span.icon-bar
            |
            #myNavbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href="/indexAdmin") Home
                |
                |
                ul.nav.navbar-nav.navbar-right
                    li#createAccountBtn
                        a(href="/createAccount")
                            span
                            |  Create account
                    |
                    li#loginBtn
                        a(href="/login")
                            span.glyphicon.glyphicon-log-in
                            |  Login
                    |
                    li
                        a#logutBtn(href="#")
                            span.glyphicon.glyphicon-log-out
                            |  Logout
    |
    .container-fluid
        .row.content
            .col-sm-10.text-center
                form(autocomplete="off", action="/addAbook" role="form", method="post")
                    fieldset
                        legend Complete the form bellow to add a new book:
                        |
                        .form-group.row
                            .col-sm-6
                                .form-group.row
                                    label.col-sm-4.col-form-label(for="book_title") Title :
                                    |
                                    .col-sm-7
                                        input#book_title.form-control(type="text", name="book_title", placeholder="Title", required="")
                                |
                                .form-group.row
                                    label.col-sm-4.col-form-label(for="book_author") Author :
                                    |
                                    .col-sm-7
                                        input#book_author.form-control(type="text", name="book_author", placeholder="Author", required="")
                                |
                                .form-group.row
                                    label.col-sm-4.col-form-label(for="book_ISBN") ISBN :
                                    |
                                    .col-sm-7
                                        input#book_ISBN.form-control(type="text", name="book_ISBN", placeholder="ISBN", required="")
                                |
                                .form-group.row
                                    label.col-sm-4.col-form-label(for="book_link") Link :
                                    |
                                    .col-sm-7
                                        input#book_link.form-control(type="text", name="book_link", placeholder="Link", required="")
                                |
                                .form-group.row
                                    label.col-sm-4.col-form-label(for="book_subject") Subject :
                                    |
                                    .btn-group.col-sm-7
                                        button#book_subject.btn.btn-default.dropdown-toggle(type="button",name="book_subject" data-toggle="dropdown")
                                            span.selection Art
                                            span.caret
                                        |
                                        ul#subjectMenu.dropdown-menu(role="menu")
                                            li
                                                a.dropdown-item(href="#") Art
                                            |
                                            li
                                                a.dropdown-item(href="#") Action
                                            |
                                            li
                                                a.dropdown-item(href="#") Sci-Fi
                                            |
                                            li
                                                a.dropdown-item(href="#") Drama
                                            |
                                            li
                                                a.dropdown-item(href="#") Romance
                                |
                                .form-group.row
                                    label.col-sm-4.col-form-label(for="book_quantity") Number of copies :
                                    |
                                    .col-sm-7
                                        input#book_quantity.form-control(type="text", name="book_quantity", placeholder="Number of copies", required="")
                                |
                                .form-group.row
                                    label.col-sm-4.col-form-label(for="book_releaseDate") Release date :
                                    |
                                    .col-sm-7
                                        #datetimepicker1.input-group.date
                                            input#book_releaseDate.form-control(type="text", name="book_releaseDate", placeholder="MM-YY", required="")
                                            span.input-group-addon
                                                span.glyphicon.glyphicon-calendar
                            |
                            .col-sm-5
                                .form-group.row
                                    label.col-sm-4.col-form-label Add a cover :
                                    |
                                    .col-sm-7
                                        input#book_fileUpload.form-control-file(type="file", name="book_image")
                                |
                                .form-group.row
                                    .imgBookContainer
                                        img#book_image.img-responsive 
                                |
                                .form-group.row
                                    .col-sm-7
                                        input#book_subject_choosen.form-control(type="text", name="book_subject_choosen")
                        |
                        .form-group.row
                            .col-sm-2
                                button#btn-addABook.btn.btn-primary(type="submit") Add a book
