extends ./layout

block title
    title Booking

block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          |
          span.icon-bar
          |
          span.icon-bar
      |
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="/index") Home
          |
          li
            a(href="/aboutUs") About us
          |
          li
            a(href="/contact") Contact
        |
        ul.nav.navbar-nav.navbar-right
          li
            #imgContainerId.imgContainer
              a(href="/myProfile")
                img#profileImage(src="/images/profile.png")
          |
          li
            a#logutBtn(href="#")
              span.glyphicon.glyphicon-log-out
              |  Logout
  |
  .container-fluid
    .row.content
      #bookingCol.col-sm-10.text-center
        form
          fieldset
            legend Booking a book
            |
            .form-group.row
              .col-sm-4
                .form-group.row
                  .imgBookingContainer
                    img#bookingBook_image.img-responsive(src="/images/anaKarenjina.jpg")
              |
              .col-sm-5
                .form-group.row
                  label.col-sm-4.col-form-label(for="book_title") Title :
                  |
                  .col-sm-7
                    input#book_title.form-control(type="text", value="Anna Karenina", disabled="")
                |
                .form-group.row
                  label.col-sm-4.col-form-label(for="book_author") Author :
                  |
                  .col-sm-7
                    input#book_author.form-control(type="text", value="Leo Tolstoy", disabled="")
                |
                .form-group.row
                  label.col-sm-4.col-form-label(for="book_subject") Genre :
                  |
                  .col-sm-7
                    input#book_subject.form-control(type="text", value="Realist novel", disabled="")
                |
                .form-group.row
                  label.col-sm-4.col-form-label(for="book_date") Date of release :
                  |
                  .col-sm-7
                    input#book_date.form-control(type="text", value="1877", disabled="")
                |
                .form-group.row
                  label.col-sm-4.col-form-label(for="book_quantity") Number of copies:
                  |
                  .col-sm-7
                    input#book_quantity.form-control(type="text", value="5", disabled="")
                |
                .form-group.row
                  label.col-sm-4.col-form-label(for="book_link") Link :
                  |
                  .col-sm-7
                    a#book_link(href="https://en.wikipedia.org/wiki/Anna_Karenina") Book page
              |
              .col-sm-2
                .form-group.row
                  .col-sm-7
                    button#book_order.btn.btn-primary(type="submit") Order a book
            |
            .form-group.row
              .form-group.row
                .form-group.row
                  label.col-sm-3.col-form-label(for="book_title") Suggested books :
                  |
                  .col-sm-2
                    img#suggestedBook_1.img-responsive(width="100px", height="100px", src="/images/fizika.jpg")
                  |
                  .col-sm-2
                    img#suggestedBook_2.img-responsive(width="100px", height="100px", src="/images/hemija.jpg")
                  |
                  .col-sm-2
                    img#suggestedBook_3.img-responsive(width="100px", height="100px", src="/images/ilijada.jpg")