extends ./layout

block title
    title Contact

block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          |
          span.icon-bar
          |
          span.icon-bar
      |
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="/index") Home
          |
          li
            a(href="/aboutUs") About us
          |
          li.active
            a(href="#") Contact
        |
        ul.nav.navbar-nav.navbar-right
          li
            #imgContainerId.imgContainer
              a(href="/myProfile")
                img#profileImage(src="/images/profile.png")
          |
          li#createAccountBtn
            a(href="/createAccount")
              span
              |  Create account
          |
          li#loginBtn
            a(href="/login")
              span.glyphicon.glyphicon-log-in
              |  Login
          |
          li
            a#logutBtn(href="#")
              span.glyphicon.glyphicon-log-out
              |  Logout
  .col-sm-2
  #contactText.container-fluid
    .row
      .col-sm-4.text-center
        strong Location
        |
        br
        |  Večna pot 113
        |
        br
        |  1000 Ljubljana
        |
        br
        |  Tel. +386 70 552 745
        |
        br
        |  Fax. +386 70 552 746
      |
      |
      .col-sm-4.text-center
        strong Working hours:
        |
        br
        |  Monday–Friday:
        |
        br
        |  08.00 – 20.00 h
        |
        br
        |  Saturday:
        |
        br
        |  08.00 – 14.30 h