extends ./layout

block title
    title Create account

append links
    script(src="/javascripts/createAccount.js", type="text/javascript")

block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          |
          span.icon-bar
          |
          span.icon-bar
      |
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="/index") Home
          |
          li
            a(href="/aboutUs") About us
          |
          li
            a(href="/contact") Contact
        |
        ul.nav.navbar-nav.navbar-right
          li.active
            a(href="/createAccount")
              span
              |  Create account
          |
          li
            a(href="/login")
              span.glyphicon.glyphicon-log-in
              |  Login
  |
  .container-fluid
    .row.content
      #mainBodyForm.col-sm-8.text-center
        form#createAccountForm(autocomplete="off", action="/createAccount" role="form", method="post")
          fieldset
            legend Complete the form bellow to create a new account:
            |
            .form-group.row
              label.col-sm-4.col-form-label(for="name") Your name:
              |
              .col-sm-7
                input#name.form-control(type="text", name="name", placeholder="Name", required="")
              |
            .form-group.row
              label.col-sm-4.col-form-label(for="surname") Your surname:
              |
              .col-sm-7
                input#surname.form-control(type="surname", name="surname", placeholder="Surname", required="")
              |
            .form-group.row
              label.col-sm-4.col-form-label(for="eMail") Your e-mail address:
              |
              .col-sm-7
                input#eMail.form-control(type="email", name="email", placeholder="email@example.com", required="")
            |
            .form-group.row
              label.col-sm-4.col-form-label(for="inputPassword") Password :
              |
              .col-sm-7
                input#inputPassword.form-control(type="password", placeholder="Password", name="pwd1", required="", title="Password must contain at least 6 characters, including UPPER/lowercase and numbers", pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,}", onchange = "this.setCustomValidity(this.validity.patternMismatch ? this.title : ''); if(this.checkValidity()) form.pwd2.pattern = RegExp.escape(this.value);")
            |
            .form-group.row
              label.col-sm-4.col-form-label(for="inputPasswordConfirm") Confirm password :
              |
              .col-sm-7
                input#inputPasswordConfirm.form-control(type="password", placeholder="Confirm password", required="", name="pwd2", title="Please enter the same Password as above", pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,}", onchange = "this.setCustomValidity(this.validity.patternMismatch ? this.title : '');")
            |
            - if (error)
              #errorMessage.alert.alert-danger
                strong Danger!
                |  There is a problem with your account creating!
            button#btn-create-account.btn.btn-primary(type="submit") Sign up
            |
            #successCreateAccountMsg.alert.alert-success
              strong Success!
              |  You have created and account. You can now login!