extends ./layout

block title
    title Online library

block content
    nav.navbar.navbar-inverse
        .container-fluid
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
                    span.icon-bar
                    |
                    span.icon-bar
                    |
                    span.icon-bar
            |
            #myNavbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href="/index") Home
                |
                ul.nav.navbar-nav.navbar-right
                    li#createAccountBtn
                        a(href="/createAccount")
                            span
                            |  Create account
                    |
                    li#loginBtn
                        a(href="/login")
                            span.glyphicon.glyphicon-log-in
                            |  Login
                    |
                    li
                        a#logutBtn(href="#")
                            span.glyphicon.glyphicon-log-out
                            |  Logout
    |
    #buttonsAdmin.container
        center
            - if (error)
              #errorMessage.alert.alert-danger
                strong Danger!
                |  There was a problem with deleting the data from the database!
            - if (success)
              #successMessage.alert.alert-success
                strong Success!
                |  You have successfully deleted the data from the database
            - if (errorInsert)
              #errorMessageInsert.alert.alert-danger
                strong Danger!
                |  There was a problem with inserting initial data in the database!
            - if (successInsert)
              #successMessageInsert.alert.alert-success
                strong Success!
                |  You have successfully inserted the initial data in the database
            a.btn.btn-info(href="/db/deleteDB", role="button") Delete database
            |
            a.btn.btn-info(href="/db/initValues", role="button") Register initial data