extends ./layout

block title
    title Edit a book

block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          |
          span.icon-bar
          |
          span.icon-bar
      |
      ul.nav.navbar-nav
        li
          a(href="/indexAdmin") Home
      |
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li#createAccountBtn
            a(href="/createAccount")
              span
              |  Create account
          |
          li#loginBtn
            a(href="/login")
              span.glyphicon.glyphicon-log-in
              |  Login
          |
          li
            a#logutBtn(href="#")
              span.glyphicon.glyphicon-log-out
              |  Logout
  .container-fluid
    .row.content
      .col-sm-10.text-center
        form
          fieldset
            .form-group.row
              .col-sm-1
              |
              .col-sm-2
                img.img-responsive(src="/images/orkanskivisovi.jpg", height="200px")
                |
                button.btn.btn-info(type="button") Change a cover
                |
                button.btn.btn-danger(type="button") Delete
              |
              .col-sm-6
                .form-group.row
                  label.col-sm-4.col-form-label(for="book_title") Title :
                  |
                  .col-sm-7
                    input#book_title.form-control(type="text", placeholder="Title", required="")
                |
                .form-group.row
                  label.col-sm-4.col-form-label(for="book_author") Author :
                  |
                  .col-sm-7
                    input#book_author.form-control(type="text", placeholder="Author", required="")
                |
                .form-group.row
                  label.col-sm-4.col-form-label(for="book_ISBN") ISBN :
                  |
                  .col-sm-7
                    input#book_ISBN.form-control(type="text", placeholder="ISBN", required="")
                |
                .form-group.row
                  label.col-sm-4.col-form-label(for="book_link") Link :
                  |
                  .col-sm-7
                    input#book_link.form-control(type="text", placeholder="Link", required="")
                |
                .form-group.row
                  label.col-sm-4.col-form-label(for="book_subject") Subject :
                  |
                  .btn-group.col-sm-7
                    button#book_subject.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                      span.selection Art
                      span.caret
                    |
                    ul.dropdown-menu(role="menu")
                      li
                        a.dropdown-item(href="#") Art
                      |
                      li
                        a.dropdown-item(href="#") Action
                      |
                      li
                        a.dropdown-item(href="#") Sci-Fi
                      |
                      li
                        a.dropdown-item(href="#") Drama
                      |
                      li
                        a.dropdown-item(href="#") Romance
                |
                .form-group.row
                  label.col-sm-4.col-form-label(for="book_quantity") Number of copies :
                  |
                  .col-sm-7
                    input#book_quantity.form-control(type="text", placeholder="Number of copies", required="")
                |
                .form-group.row
                  label.col-sm-4.col-form-label(for="book_releaseDate") Release date :
                  |
                  .col-sm-7
                    input#book_releaseDate.form-control(type="text", placeholder="DD/MM/YY", required="")
              |
              .col-sm-5
                .form-group.row
                  .imgBookContainer
                    img#book_image.img-responsive
              |
              .col-sm-6
                button.btn.btn-info(type="button") Save changes