extends ./layout

block title
    title Edit profile

append links
  script(type="text/javascript").
      window.onload = function () {
          document.getElementById('editImg_fileUpload').addEventListener('change', handleFileSelect, false);
      }
      function handleFileSelect(evt) {
          var reader = new FileReader();
          reader.onload = function (e) {
              // get loaded data and render thumbnail.
              document.getElementById("edit_image").src = e.target.result;
          };
          // read the image file as a data URL.
          reader.readAsDataURL(this.files[0]);
      }

block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          |
          span.icon-bar
          |
          span.icon-bar
      |
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="/index") Home
          |
          li
            a(href="/aboutUs") About us
          |
          li
            a(href="/contact") Contact
  |
  .container-fluid
    .row.content
      .col-sm-10.text-center
        form#editProfileForm(autocomplete="off", action="/editProfile" role="form", method="post")
          fieldset
            legend Edit profile
            |
            .form-group.row
              .col-sm-6
                .form-group.row
                  label.col-sm-4.col-form-label(for="edit_name") Name :
                  |
                  .col-sm-7
                    input#edit_name.form-control(type="text", placeholder="Enter name", name="name", value=name)
                |
                .form-group.row
                  label.col-sm-4.col-form-label(for="edit_surname") Surname :
                  |
                  .col-sm-7
                    input#edit_surname.form-control(type="text", placeholder="Enter surname", name="surname", value=surname)
                |
                .form-group.row
                  label.col-sm-4.col-form-label(for="edir_eMail") E-mail :
                  |
                  .col-sm-7
                    input#edir_eMail.form-control(type="email", placeholder="email@example.com", name="email", value=username)
                |
                .form-group.row
                  label.col-sm-4.col-form-label(for="edit_password") Password :
                  |
                  .col-sm-7
                    input#edit_password.form-control(type="password", placeholder="Password", name="pwd1", value=password, title="Password must contain at least 6 characters, including UPPER/lowercase and numbers", pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,}", onchange = "this.setCustomValidity(this.validity.patternMismatch ? this.title : ''); if(this.checkValidity()) form.pwd2.pattern = RegExp.escape(this.value);")
                |
                .form-group.row
                  label.col-sm-4.col-form-label(for="edit_passwordConfirm") Confirm password :
                  |
                  .col-sm-7
                    input#edit_passwordConfirm.form-control(type="password", placeholder="Confirm password" name="pwd2", value=password2, title="Please enter the same Password as above", pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,}", onchange = "this.setCustomValidity(this.validity.patternMismatch ? this.title : '');")
              |
              .col-sm-5
                .form-group.row
                  label.col-sm-4.col-form-label Edit image :
                  |
                  .col-sm-7
                    input#editImg_fileUpload.form-control-file(type="file")
                |
                .form-group.row
                  .imgEditContainer
                    img#edit_image.img-responsive
            |
            .form-group.row
              .col-sm-2
                button#btn-edit-profile.btn.btn-primary(type="submit") Save changes