extends ./layout

block title
    title Forget password

block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          |
          span.icon-bar
          |
          span.icon-bar
      |
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="/index") Home
          |
          li
            a(href="/aboutUs") About us
          |
          li
            a(href="/contact") Contact
        |
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/createAccount")
              span
              |  Create account
          |
          li
            a(href="/login")
              span.glyphicon.glyphicon-log-in
              |  Login
  |
  .container-fluid
    .row.content
      #mainBodyForm.col-sm-8.text-center
        form
          fieldset
            legend Please enter your e-mail to reset your password
            |
            .form-group.row
              label.col-sm-3.col-form-label(for="userName") Insert e-mail :
              |
              .col-sm-7
                input#userName.form-control(type="email", placeholder="email@example.com")
            |
            button.btn.btn-primary(type="submit") Send