extends ./layout

block title
    title Online library

append links
    script(src="/javascripts/index.js", type="text/javascript")

block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          |
          span.icon-bar
          |
          span.icon-bar
      |
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href="#") Home
          |
          li
            a(href="/aboutUs") About us
          |
          li
            a(href="/contact") Contact
        |
        ul.nav.navbar-nav.navbar-right
          li
            #imgContainerId.imgContainer
              a(href="/myProfile")
                img#profileImage(src="/images/profile.png")
          |
          li#createAccountBtn
            a(href="/createAccount")
              span
              |  Create account
          |
          li#loginBtn
            a(href="/login")
              span.glyphicon.glyphicon-log-in
              |  Login
          |
          li
            a#logutBtn(href="#")
              span.glyphicon.glyphicon-log-out
              |  Logout
  #title
    h1 Online library - First chapter
  |
  .divForm(style="padding-left:10px;")
    form.form-inline.my-2.my-lg-0
      .btn-group
        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
          span.selection Title
          span.caret
        |
        ul.dropdown-menu(role="menu")
          li
            a(href="#", style="font-family: serif; font-size: 18px") Title
          |
          li
            a(href="#", style="font-family: serif; font-size: 18px") Author
          |
          li
            a(href="#", style="font-family: serif; font-size: 18px") Subject
      |
      input.form-control.mr-sm-2(type="text", placeholder="Search")
      |
      button.btn.btn-secondary.my-2.my-sm-0(type="submit") Search
  .mostPopularBooks(style="text-align: left; font-size:20px; padding-left:10px;")
    strong Most popular books:
  .col-sm-1
  .container-fluid
    #popularBooks.row
  .allBooks(style="text-align: left; font-size:20px; padding-left:10px;")
    strong All books:
  .col-sm-1
  #allBooks.container-fluid
    #allBooksRow.row