extends ./layout

block title
    title Online library

block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          |
          span.icon-bar
          |
          span.icon-bar
      |
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="indexAdmin") Home
        |
        ul.nav.navbar-nav.navbar-right
          li#createAccountBtn
            a(href="/createAccount")
              span
              |  Create account
          |
          li#loginBtn
            a(href="/login")
              span.glyphicon.glyphicon-log-in
              |  Login
          |
          li
            a#logutBtn(href="#")
              span.glyphicon.glyphicon-log-out
              |  Logout
  |
  #buttonsAdmin.container
    center
      a.btn.btn-info(href="addAbook", role="button") Add a book
      |
      a.btn.btn-info(href="managingUsers", role="button") Managing users
      |
      a.btn.btn-info(href="managingBooks", role="button") Managing books
      |
      a.btn.btn-info(href="statistics", role="button") Statistics