//- layout.jade
doctype html
html(ng-app='onlinelibrary')
    head
        block title
            title The title
        block links
            meta(charset="utf-8")
            meta(name="viewport", content="width=device-width, initial-scale=1")
            script(src='/javascripts/jquery.min.js')
            script(src="/javascripts/jQuery.js", type="text/javascript")
            link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
            script(src='/bootstrap/js/bootstrap.min.js')
            link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
            script(src="/javascripts/jqueryFunctions.js", type="text/javascript")
            script(src='/angular/angular.min.js')
            script(src='/lib/angular-route.min.js')
            //script(src='/app.js')
            script(src='/angular/onlinelibrary.js')
            noscript Your browser does not support JavaScript!
    body
        #content
            block content
        block footer
            #signature
                | Copyright Web Programming - FRI



