extends ./layout

block title
    title Login

append links
    script(src="/javascripts/login.js", type="text/javascript")

block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          |
          span.icon-bar
          |
          span.icon-bar
      |
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="/index") Home
          |
          li
            a(href="/aboutUs") About us
          |
          li
            a(href="/contact") Contact
        |
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/createAccount")
              span
              |  Create account
          |
          li.active
            a(href="/login")
              span.glyphicon.glyphicon-log-in
              |  Login
  |
  .container-fluid
    .row.content
      #mainBodyForm.col-sm-8.text-center
        - var formClasses = (error ? "has-error" : "")
        form#loginform(autocomplete="off", action="/login" role="form", method="post" class=formClasses)
          fieldset
            legend Please enter your e-mail and password to access your account
            |
            .form-group.row
              label.col-sm-3.col-form-label(for="login-username") Email :
              |
              .col-sm-7
                input#login-username.form-control(type="email", name="email", placeholder="email@example.com", value=username)
            |
            .form-group.row
              label.col-sm-3.col-form-label(for="login-password") Password :
              |
              .col-sm-7
                input#login-password.form-control(type="password", name="password" placeholder="Password", value=password)
            |
            - if (error)
              #errorMessage.alert.alert-danger
                strong Danger!
                |  The email or password are incorrect!
            |
            button#btn-login.btn.btn-primary(type="submit") Sign in
          |
          a(href="forgetPassword") Forgot password?