extends ./layout

include mixin

block title
    title Managing books

block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          |
          span.icon-bar
          |
          span.icon-bar
      |
      ul.nav.navbar-nav
        li
          a(href="/indexAdmin") Home
      |
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li#createAccountBtn
            a(href="/createAccount")
              span
              |  Create account
          |
          li#loginBtn
            a(href="/login")
              span.glyphicon.glyphicon-log-in
              |  Login
          |
          li
            a#logutBtn(href="#")
              span.glyphicon.glyphicon-log-out
              |  Logout
  .divForm(style="padding-left:10px;")
    form.form-inline.my-2.my-lg-0
      .btn-group
        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
          span.selection Title
          span.caret
        |
        ul.dropdown-menu(role="menu")
          li
            a(href="#", style="font-family: serif; font-size: 18px") Title
          |
          li
            a(href="#", style="font-family: serif; font-size: 18px") Author
          |
          li
            a(href="#", style="font-family: serif; font-size: 18px") Subject
      |
      input.form-control.mr-sm-2(type="text", placeholder="Search")
      |
      button.btn.btn-secondary.my-2.my-sm-0(type="submit") Search
  .container-fluid
    .row
      .col-sm-2.text-left
        +showBookDetails("/images/orkanskivisovi.jpg", "Wuthering Heights", "Author:Emily Bronte", "Subject:Romance", "Date of release:December 1847")
      |
      .col-sm-2
        +showBookDetails("/images/stranac.jpg", "The Stranger", "Author:Albert Camus", "Subject:Philosophy", "Date of release:1842")
      |
      .col-sm-2
        +showBookDetails("/images/zlocinIKazna.jpg", "Crime and Punishment", "Author:Fjodor M. Dostojevski", "Subject:Psychology", "Date of release:1866")
      |
      .col-sm-2
        +showBookDetails("/images/ilijada.jpg", "Iliad and Odyssey", "Author:Homer", "Subject:Poem", "Date of release:-")
      |
      .col-sm-2
        +showBookDetails("/images/bovari.jpg", "Madame Bovary", "Author:Gustave Flaubert", "Subject:Romance", "Date of release:15.12.1856")