extends ./layout

block title
    title Managing users

block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          |
          span.icon-bar
          |
          span.icon-bar
      |
      ul.nav.navbar-nav
        li
          a(href="/indexAdmin") Home
      |
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li#createAccountBtn
            a(href="/createAccount")
              span
              |  Create account
          |
          li#loginBtn
            a(href="/login")
              span.glyphicon.glyphicon-log-in
              |  Login
          |
          li
            a#logutBtn(href="#")
              span.glyphicon.glyphicon-log-out
              |  Logout
  #newDiv(ng-controller="usersListCtrl")
    .divForm(style="padding-left:10px;")
      form.form-inline.my-2.my-lg-0
        .btn-group
          button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
            span.selection E-mail
            span.caret
          |
          ul.dropdown-menu(role="menu")
            li
              a(href="#", style="font-family: serif; font-size: 18px", ng-click="changeFilterTo('username')") E-mail
            |
            li
              a(href="#", style="font-family: serif; font-size: 18px", ng-click="changeFilterTo('name')") Name
            |
            li
              a(href="#", style="font-family: serif; font-size: 18px", ng-click="changeFilterTo('surname')") Surname
          |
        input.form-control.mr-sm-2(type="text", placeholder="Search" ng-model="search[filter]")
    #divUsers.container-fluid
      .row
        .col-sm-2.text-left(ng-repeat="user in data.users | filter : search")
          img.img-responsive(src="/images/profile-picture.png", height="200px")
          |
          h5 {{user.name}} {{user.surname}}
          |
          a.btn.btn-info(href="userDetails", role="button") Details