mixin showBookDetails(image, name, author, subject, date)
    img.img-responsive(src=image, height="200px")
    h5=name
    h5=author
    h5=subject
    h5=date
    a.btn.btn-info(href="editBook", role="button") Edit
