extends ./layout

block title
    title Statistics

block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          |
          span.icon-bar
          |
          span.icon-bar
      |
      ul.nav.navbar-nav
        li
          a(href="indexAdmin") Home
      |
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li#createAccountBtn
            a(href="createAccount")
              span
              |  Create account
          |
          li#loginBtn
            a(href="login")
              span.glyphicon.glyphicon-log-in
              |  Login
          |
          li
            a#logutBtn(href="#")
              span.glyphicon.glyphicon-log-out
              |  Logout
  #statisticsOfUsers.container-fluid
    .row
      .col-sm-2.text-left
      |
      |
      .col-sm-4.text-left
        .mostActiveUsers(style="text-align: left; font-size:20px;")
          h1 Most active users:
        |
        |
        h2 1. Emily Bronte
        |
        h2 2. Albert Camus
        |
        h2 3. Bozen Jovanovski
        |
        h2 4. Olivera Perunkovska
        |
        h2 5. Amra Omanovic
      |
      |
      .col-sm-1.text-left
      |
      .col-sm-4.text-left
        .mostRentedBooks(style="text-align: left; font-size:20px;")
          h1 Users with currently most rented books:
        |
        |
        h2 1. Lav Tolstoj
        |
        h2 2. Gabriel Garcia Marquez
        |
        h2 3. Hristijan Jankulovksi
        |
        h2 4. Nemanja Soldo
        |
        h2 5. Amela Spica