extends ./layout

block title
    title User details

block content
    nav.navbar.navbar-inverse
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            ul.nav.navbar-nav
                li
                    a(href='/indexAdmin') Home
            #myNavbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li#createAccountBtn
                        a(href='/createAccount')
                            span
                            |  Create account
                    li#loginBtn
                        a(href='login')
                            span.glyphicon.glyphicon-log-in
                            |  Login
                    li
                        a#logutBtn(href='#')
                            span.glyphicon.glyphicon-log-out
                            |  Logout
    #divDetails.container-fluid
        .row
            .col-sm-2.text-left
                img.img-responsive(src='/images/profile-picture.png', height='200px')
                a.btn.btn-info(href='managingOrders', role='button') Manage orders
            .col-sm-4.text-left
                h3
                    strong Name:
                h3 Bozen
                br
                h3
                    strong Surname:
                h3 Jovanovski
                br
                h3
                    strong E-mail
                h3 bozen@jovanovski.com
                br